.item-details {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 22px;
  font-weight: bold;
  border-left: 1px solid var(--border-btn);
}

.item-details__card {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border-btn);
  padding: 20px;
}

.item-details__header {
  margin: 0;
}

.item-details__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 0;
  padding: 0;
  font-weight: normal;
  list-style: none;
}

.item-details__btn {
  cursor: pointer;
  padding: 5px 10px;
  background-color: var(--bg-btn);
  color: var(--text-btn);
  border: 1px solid var(--border-btn);
}
