.search-result {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 50vw;
  height: 35vh;
  align-self: center;
  gap: 20px;
  padding: 20px;
}

.search-result__is-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vh;
}

.search-result__no-results {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vh;
  font-size: 22px;
  font-weight: bold;
}

.search-result__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  cursor: pointer;
  border: 1px solid var(--border-btn);
  border-radius: 10px;
}

.flyout {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--bg-main);
  border-top: 1px solid #ccc;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flyout p {
  margin: 0;
  font-weight: bold;
}

.flyout button {
  margin-left: 10px;
  background-color: var(--bg-btn);
  border: 1px solid var(--border-btn);
  color: var(--text-btn);
  padding: 10px 20px;
  cursor: pointer;
}
