.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app__serch-bar {
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
}

.app__search-result {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 50vw;
  align-self: center;
  gap: 20px;
  padding: 20px;
}
